.shop-profile-main-container {
  padding: 2%;
  width: 100%;
}

.shop-profile-sub-container {
  border-radius: 31px;
  background-color: white;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.shop-profile-sub-container > div:nth-child(1) {
  width: 40%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.shop-profile-sub-container > div:nth-child(2) {
  width: 60%;
  padding: 4%;
}

.shop-profile-img {
  width: 100%;
}

.shop-profile-ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 6%;
}
